/backend/bin
/backend/include
/backend/lib
/backend/lib64
/backend/Include
/backend/Scripts
/backend/Lib
/backend/pyvenv.cfg
/backend/.env
/backend/main/__pycache__/*
__pycache__/*
backend/main/auth/__pycache__/
backend/main/controllers/__pycache__/
backend/main/map/__pycache__/
backend/main/models/__pycache__/
backend/main/repositories/__pycache__/
backend/main/services/__pycache__/
frontend/bin
frontend/include
frontend/lib
frontend/lib64
frontend/Include
frontend/Scripts
frontend/Lib
frontend/pyvenv.cfg
frontend/.env
frontend/main/__pycache__/*
__pycache__/*
frontend/main/routes/__pycache__/*
frontend/main/utils/__pycache__/*
```