{% extends 'base.html' %}

{% block title %}
    Bienvenido a palta
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% if foods %}
            {% for food in foods %}
                <div class="col">
                    <div class="card">
                        {% if images_paths %}
                            <!-- Cambiado product.image_id a food.image_id -->
                            <img src="{{ images_paths[food.image_id] }}" class="card-img-top" alt="Producto 1">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{food.name}}</h5>
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                    <p>Precio:</p>
                                </div>
                                <div class="col-8 col-md-8 col-lg-8 col-xl-8">
                                    <p>{{food.price}}</p>
                                </div>
                                <div class="col-12">
                                    <p>{{food.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No hay productos</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
